@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* basic */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background: #020202;
  color: #f1f1f1; */
  background: #010101;
  color: #f1f1f1;
  padding: 10px 10%;
}
.parking-lot {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 30px;
  /* justify-content: space-evenly; */
  align-items: center;
}
.fa-sharp, .fa-solid, .fa-bars{
  font-size: 24px;
}
#user-icon{
  font-size: 48px;
  margin-left: calc(60% - 20%);
}
span i{
  cursor: pointer;
  margin-left: -50px;
  margin-top: 30px;
}
span i:hover{
  color: #ffd900;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #010101; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav p{
  font-size: 18px;
  color: #f1f1f1;
}
.sidenav p span{
  color: #ffd900;
}
/* When you mouse over the navigation links, change their color */
.sidenav .closebtn:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#main h1{
  font-size: 36px;
}
#main p{
  font-size: 18px;
  margin-bottom: 2em;
}

#main .button{
  display: flex;
  justify-content: space-between;
  gap: 4em;
}
.button button{
  padding: 25px;
  border-radius: 25px;
  border: #f1f1f1 1px solid;
}
.button button:hover{
  transition: 0.5s;
  background: #ffd900;
  border: #ffd900 1px solid;
}
.button button a{
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}
h1 span{
  color: #ffd900;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  gap: 2em;
  padding: 10px 10%;
}
.details p{
  cursor: pointer;
}
.details button{
  padding: 10px;
  background: #f1f1f1;
  border: 1px #f1f1f1 solid;
  border-radius: 25px;
}
.details button a{
  font-size: 18px;
  color: #010101;
  text-align: center;
}
.details button:hover{
  background: #ffd900;
  border: #ffd900 1px solid;
  transition: 0.5s;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}